body {
	margin: 0;
	font-family: Arial, Tahoma, Helvetica, sans-serif;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before, .clearfix::after {
	content: "";
	display: table;
}

.clearfix::after {
	clear: both;
}

.container {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}

/*-----------------
HEADER
-------------------*/
.header {
	margin: 0;
	background-color: #6599a7;
	background-image: url(../img/bg.jpg);
	height: 888px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #fff;
	position: relative;
	padding-top: 173px;
}

/*LOGO*/
.logo {
	position: absolute;
	top: 30px;
}

/*NAVIGATION*/
.navi {
	margin-bottom: 60px;
}

.menu {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 0;
}

.menu li {
	margin: 0;
	padding: 0;
	display: inline-block;
	font-size: 22px;
	margin-right: 145px;
}

.menu li:last-child {
	margin-right: 0;
}

.menu li a {
	display: block;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}

.menu li a:hover {
	text-decoration: underline;
}

/*TITLE*/

.title {
	width: 420px;
}

.title h1 {
	font-size: 52px;
	font-weight: normal;
	text-shadow: 0px 1px 1px rgba(46, 107, 130, 0.4);
	line-height: 1.192;
}

.title p {
	font-size: 14px;
	text-shadow: 0px 1px 1px rgba(46, 107, 130, 0.4);
	line-height: 1.786;
	width: 380px;
}

/*-------------
MAIN
---------------*/

.main {
	min-height: 495px;
	padding-top: 110px;
	padding-bottom: 85px;
}

/*LEFT*/
.left-col {
	width: 310px;
	min-height: 297px;
	border-right: 1px solid #eaeaea;
	padding-right: 40px;
	float: left;
}

.left-col p {
	margin: 0;
	font-style: italic;
	color: #fe992a;
	line-height: 1.4;
	font-size: 20px;
}

/*MAIN*/
.main-content {
	width: 590px;
	margin-left: 60px;
	float: right;
}

.main-content h2 {
	margin: 0;
	color: #fe992a;
	font-size: 24px;
	font-weight: normal;
}

.main-content p {
	font-size: 14px;
	line-height: 2;
	color: #737c85;
}

.main-content a {
	color: #737c85;
}

/*-------------
FOOTER
---------------*/

.footer {
	background-color: #e77370;
	padding-top: 45px;
	padding-bottom: 185px;
	color: #fff;
}

.footer h3 {
	font-size: 18px;
}

.footer ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.footer ul li {
	margin: 0;
	padding: 0;
	padding-bottom: 18px;
}

.footer a {
	color: #fff;
	text-decoration: none;
	font-size: 14px;
}

.footer a:hover {
	text-decoration: underline;
}


/*CONTACTS*/
.contacts {
	width: 230px;
	float: left;
}

/*INFO*/
.info {
	width: 650px;
	float: right;
}

.col-5 {
	width: 110px;
	float: left;
	margin-right: 25px;
}

.col-5:last-child {
	margin-right: 0;
}

.col-5 h3 {
	margin-top: 0;
}

.col-5 ul li:last-child {
	padding-bottom: 0;
}